<h1>Formaciones</h1>

<div class="row margin-bottom">
  <div class="col-md-6 col-xs-12">
    <h2>Formaciones planeadas</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
        <% @trainings.each do |training| %>
          <tr>
            <td>
              <p><%= training.topic %> (<%= training.category %>)</p>
              <p><%= training.date.strftime('%d/%m/%y %R') %></p>
            </td>
            <td>
              <span class="pull-right">
                <%= link_to new_training_execution_path(training_id: training.id), class: 'btn btn-default' do %>
                  Registrar ejecución
                <% end %>
                <%= link_to training, class: 'btn btn-info' do %>
                  <%= fa_icon('info') %>
                <% end %>
                <%= link_to edit_training_path(training), class: 'btn btn-warning' do %>
                  <%= fa_icon('pencil') %>
                <% end %>
                <%= link_to training, method: :delete, data: { confirm: '¿Seguro que desea eliminar la formación?' }, class: 'btn btn-danger' do %>
                  <%= fa_icon('trash') %>
                <% end %>
              </span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <h2>Formaciones ejecutadas</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
        <% @training_executions.each do |training_execution| %>
          <tr>
            <td>
              <p><%= training_execution.topic %> (<%= training_execution.category %>)</p>
              <p><%= training_execution.date.strftime('%d/%m/%y %R') %></p>
            </td>
            <td>
              <span class="pull-right">
                <%= link_to register_attendances_training_execution_path(training_execution), class: 'btn btn-default' do %>
                  Registrar asistencias
                <% end %>
                <%= link_to training_execution, class: 'btn btn-info' do %>
                  <%= fa_icon('info') %>
                <% end %>
                <%= link_to edit_training_execution_path(training_execution), class: 'btn btn-warning' do %>
                  <%= fa_icon('pencil') %>
                <% end %>
                <%= link_to training_execution, method: :delete, data: { confirm: '¿Seguro que desea eliminar la formación?' }, class: 'btn btn-danger' do %>
                  <%= fa_icon('trash') %>
                <% end %>
              </span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="margin-bottom">
      <%= link_to new_training_path, class: 'btn btn-default' do %>
        <%= fa_icon('plus') %> Formación planeada
      <% end %>
    </div>
    <div class="margin-bottom">
      <%= link_to trainings_path, class: 'btn btn-default' do %>
        <%= fa_icon('eye') %> Planeadas
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="margin-bottom">
      <%= link_to new_training_execution_path, class: 'btn btn-default' do %>
        <%= fa_icon('plus') %> Formación ejecutada
      <% end %>
    </div>
    <div class="margin-bottom">
      <%= link_to training_executions_path, class: 'btn btn-default' do %>
        <%= fa_icon('eye') %> Ejecutadas
      <% end %>
    </div>
  </div>
</div>
