<h1>Editando formación</h1>

<%= render 'form', training: @training %>

<br>

<%= link_to trainings_path, class: 'btn btn-primary' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
<%= link_to @training, class: 'btn btn-primary pull-right' do %>
  <%= fa_icon('info') %>
<% end %>
