<h1>Formaciones</h1>

<table class="table">
  <thead>
  <tr>
    <th>Categoría</th>
    <th>Tema</th>
    <th>Fecha</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @trainings.each do |training| %>
    <tr>
      <td><%= training.category %></td>
      <td><%= training.topic %></td>
      <td><%= training.date.strftime('%d/%m/%y %R') %></td>
      <td>
        <%= link_to training, class: 'btn btn-primary' do %>
          <%= fa_icon('info') %>
        <% end %>
        <%= link_to edit_training_path(training), class: 'btn btn-primary' do %>
          <%= fa_icon('pencil') %>
        <% end %>
        <%= link_to training, method: :delete, data: { confirm: '¿Seguro que desea eliminar la formación?' }, class: 'btn btn-primary' do %>
          <%= fa_icon('trash') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_training_path, class: 'btn btn-primary' do %>
  <%= fa_icon('plus') %>
<% end %>
