<p id="notice"><%= notice %></p>

<p>
  <strong>Categoría:</strong>
  <%= @training.category %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @training.topic %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @training.objective %>
</p>

<p>
  <strong>Company:</strong>
  <%= @training.company_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @training.date %>
</p>

<p>
  <strong>Hourly intensity:</strong>
  <%= @training.hourly_intensity %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @training.trainer %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @training.internal %>
</p>

<p>
  <strong>Planned:</strong>
  <%= @training.planned %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
