<h1><%= @training.topic %></h1>

<h4>Categoría</h4>
<p><%= @training.category %></p>

<% if @training.objective.present? %>
  <h4>Objetivo</h4>
  <p><%= @training.objective %></p>
<% end %>

<h4>Sede</h4>
<p><%= Company.find(@training.company_id) %></p>

<% if @training.area_id.present? %>
  <h4>Área responsable</h4>
  <p><%= Area.find(@training.area_id) %></p>
<% end %>

<% if @training.collaborator_id.present? %>
  <h4>Colaborador responsable</h4>
  <p><%= Employee.find(@training.collaborator_id) %></p>
<% end %>

<h4>Fecha</h4>
<p><%= @training.date.strftime('%d/%m/%y %R') %></p>

<h4>Intensidad horaria</h4>
<p><%= @training.hourly_intensity %></p>

<h4>Formador</h4>
<p><%= @training.trainer %></p>

<h4><%= @training.internal ? 'Formación interna' : 'Formación externa' %></h4>

<%= link_to trainings_path, class: 'btn btn-primary' do %>
  Atras <%= fa_icon('arrow-left') %>
<% end %>
<%= link_to edit_training_path(@training), class: 'btn btn-primary pull-right' do %>
  Editar <%= fa_icon('pencil') %>
<% end %>
