<h1>Empleados</h1>

<div class="margin-bottom" style="display: none;" id="filters">
  <%= form_tag employees_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], placeholder: 'Filtrar por nombre...', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= number_field_tag :identification, params[:identification], placeholder: 'Filtrar por identificación...', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= text_field_tag :position, params[:position], placeholder: 'Filtrar por posición...', class: 'form-control' %>
    </div>

    <div class="row margin-bottom">
      <div class="col-md-6">
        <div class="input-group date" id="initial-date-picker">
          <%= text_field_tag :trainings_initial_date, params[:trainings_initial_date], placeholder: 'Sin capacitaciones entre el...', class: 'form-control' %>
          <span class="input-group-addon">
            <%= fa_icon('calendar') %>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group date" id="final-date-picker">
          <%= text_field_tag :trainings_final_date, params[:trainings_final_date], placeholder: 'Y el...', class: 'form-control' %>
          <span class="input-group-addon">
            <%= fa_icon('calendar') %>
          </span>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-md-6">
        <div class="input-group date" id="initial-date-picker">
          <%= text_field_tag :initial_date, params[:initial_date], placeholder: 'Fecha de admisión entre el...', class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon('calendar') %></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group date" id="final-date-picker">
          <%= text_field_tag :final_date, params[:final_date], placeholder: 'Y el...', class: 'form-control' %>
          <span class="input-group-addon"><%= fa_icon('calendar') %></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= select_tag :area_id, content_tag(:option, 'Filtrar por área...', value: '') + options_from_collection_for_select(Area.all, :id, :name, params[:area_id]), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= select_tag :company_id, content_tag(:option, 'Filtrar por compañía...', value: '') + options_from_collection_for_select(Company.all, :id, :name, params[:company_id]), class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label><%= check_box_tag :active, true, params[:active].present? %> Sólo empleados activos</label>
      </div>
    </div>

    <div>
      <%= link_to 'Quitar filtros', employees_path, class: 'btn btn-default' %>
      <%= button_tag type: :submit, class: 'btn btn-default pull-right' do %>
        <%= fa_icon('search') %> Filtrar
      <% end %>
    </div>
  <% end %>
</div>

<div class="margin-bottom" id="no-filters">
  <%= button_tag 'Aplicar filtros', onclick: 'showFilters()', class: 'btn btn-default' %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td>
          <h4><%= employee %> <%= raw '<small>(Inactivo)</small>' unless employee.active %></h4>
          <p><%= employee.area %> (<%= employee.position %>)</p>
          <p><%= employee.company %></p>
        </td>
        <td>
          <span class="pull-right">
            <%= link_to employee, class: 'btn btn-info' do %>
              <%= fa_icon('info') %>
            <% end %>
            <%= link_to edit_employee_path(employee), class: 'btn btn-warning' do %>
              <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to employee, method: :delete, data: { confirm: '¿Seguro que desea eliminar el empleado?' }, class: 'btn btn-danger' do %>
              <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    <% if @employees.empty? %>
      <tr>
        <td>
          No se encontraron registros
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to new_employee_path, class: 'btn btn-default' do %>
      <%= fa_icon('plus') %>
  <% end %>
</div>

<%= will_paginate @employees %>
