<h1><%= @employee.name %></h1>

<h4>Identificación</h4>
<p>C.C. <%= @employee.identification %></p>

<h4>Área</h4>
<p><%= @employee.area %></p>

<h4>Cargo</h4>
<p><%= @employee.position %></p>

<h4>Compañía</h4>
<p><%= @employee.company %></p>

<h4>Fecha de ingreso</h4>
<p><%= @employee.admission_date %></p>

<h4>Estado</h4>
<p><%= @employee.active ? 'Activo' : 'Inactivo' %></p>

<%= link_to employees_path, class: 'btn btn-default' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
<%= link_to edit_employee_path(@employee), class: 'btn btn-warning pull-right' do %>
  <%= fa_icon('pencil') %>
<% end %>
