<h1><%= @employee.name %></h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h4>Identificación</h4>
    <p>C.C. <%= @employee.identification %></p>

    <h4>Área</h4>
    <p><%= @employee.area %></p>

    <h4>Cargo</h4>
    <p><%= @employee.position %></p>

    <h4>Compañía</h4>
    <p><%= @employee.company %></p>

    <h4>Fecha de ingreso</h4>
    <p><%= @employee.admission_date %></p>

    <h4>Estado</h4>
    <p><%= @employee.active ? 'Activo' : 'Inactivo' %></p>
  </div>

  <div class="col-xs-12 col-md-6">
    <h4>Capacitaciones</h4>
    <div class="table-responsive overflowing-box-tall">
      <table class="table table-striped table-condensed">
        <tbody>
          <% @employee.training_executions.each do |training_execution| %>
            <tr>
              <td>
                <p><%= training_execution %> (<%= training_execution.category %>)</p>
                <p><%= training_execution.date.strftime('%d/%m/%y %R') %></p>
              </td>
              <td>
                <span class="pull-right">
                  <%= link_to training_execution_path(training_execution), class: 'btn btn-info' do %>
                    <%= fa_icon('info') %>
                  <% end %>
                </span>
              </td>
            </tr>
          <% end %>
          <% if @employee.training_executions.empty? %>
            <tr>
              <td>El empleado no ha tenido capacitaciones</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <%= link_to employees_path, class: 'btn btn-default' do %>
    <%= fa_icon('arrow-left') %>
  <% end %>
  <%= link_to edit_employee_path(@employee), class: 'btn btn-warning pull-right' do %>
    <%= fa_icon('pencil') %>
  <% end %>
</div>
