<h1>Compañías</h1>

<div class="table-responsive margin-bottom">
  <table class="table table-striped">
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <%= company %>
          <span class="pull-right">
            <%= link_to edit_company_path(company), class: 'btn btn-warning' do %>
              <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to company, method: :delete, data: { confirm: '¿Seguro que desea eliminar la compañía?' }, class: 'btn btn-danger' do %>
              <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @companies %>

<%= link_to new_company_path, class: 'btn btn-default' do %>
  <%= fa_icon('plus') %>
<% end %>
