<h1>Compañías</h1>

<div class="margin-bottom">
  <%= form_tag companies_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], placeholder: 'Filtrar por nombre...', class: 'form-control' %>
    </div>
    <div>
      <%= link_to 'Quitar filtro', companies_path, class: 'btn btn-default' %>
      <%= button_tag type: :submit, class: 'btn btn-default pull-right' do %>
        <%= fa_icon('search') %> Filtrar
      <% end %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <%= company %>
          <span class="pull-right">
            <%= link_to edit_company_path(company), class: 'btn btn-warning' do %>
              <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to company, method: :delete, data: { confirm: '¿Seguro que desea eliminar la compañía?' }, class: 'btn btn-danger' do %>
              <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    <% if @companies.empty? %>
      <tr>
        <td>
          No se encontraron registros
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to new_company_path, class: 'btn btn-default' do %>
      <%= fa_icon('plus') %> Agregar compañía
  <% end %>
</div>

<%= will_paginate @companies %>
