<h1>Áreas</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td>
          <%= area.name %>
          <span class="pull-right">
            <%= link_to edit_area_path(area), class: 'btn btn-primary' do %>
              Editar <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to area, method: :delete, data: { confirm: '¿Seguro que desea eliminar el área?' }, class: 'btn btn-primary' do %>
              Eliminar <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to new_area_path, class: 'btn btn-primary' do %>
  Nueva área <%= fa_icon('plus') %>
<% end %>
