<h1>Áreas</h1>

<%= form_tag areas_path, method: :get do %>
  <div class="input-group margin-bottom">
    <%= text_field_tag :name, "#{params[:name]}", { placeholder: 'Filtrar por nombre...', class: 'form-control' } %>
    <span class="input-group-btn">
      <%= submit_tag 'Filtrar', class: 'btn btn-default' %>
    </span>
  </div>
<% end %>

<div class="table-responsive margin-bottom">
  <table class="table table-striped">
    <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td>
          <%= area %>
          <span class="pull-right">
            <%= link_to edit_area_path(area), class: 'btn btn-warning' do %>
              <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to area, method: :delete, data: { confirm: '¿Seguro que desea eliminar el área?' }, class: 'btn btn-danger' do %>
              <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @areas %>

<div>
  <%= link_to new_area_path, class: 'btn btn-default' do %>
    <%= fa_icon('plus') %>
  <% end %>
</div>
