<h1>Editar asistencias a la formación</h1>

<div class="margin-bottom">
  <%= render 'attendances_form' %>
</div>

<%= link_to training_executions_path, class: 'btn btn-default' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
<%= link_to @training_execution, class: 'btn btn-info pull-right' do %>
  <%= fa_icon('info') %>
<% end %>
