<h1>Editando formación ejecutada</h1>

<div class="margin-bottom">
  <%= render 'form', training_execution: @training_execution %>
</div>

<%= link_to training_executions_path, class: 'btn btn-default' do %>
  <%= fa_icon('arrow-left') %>
<% end %>
<%= link_to edit_attendances_training_execution_path, class: 'btn btn-default' do %>
  Editar asistencias
<% end %>
<%= link_to @training_execution, class: 'btn btn-info pull-right' do %>
  <%= fa_icon('info') %>
<% end %>
