<h1>Formaciones ejecutadas</h1>

<div class="row">
  <%= form_tag training_executions_path, method: :get do %>
    <div class="col-xs-12 col-md-8">
      <div class="form-group" id="filters">
        <%= select_tag :category, options_for_select(Training::CATEGORIES, params[:category].blank? || Training::CATEGORIES.include?(params[:category]) ? params[:category] : Training::CATEGORIES[3]), onchange: 'trainingsFilterCategoryChanged()', class: 'form-control' if params[:filter].blank? || params[:filter] == 'category' %>
        <%= text_field_tag :topic, params[:topic], placeholder: 'Filtrar por...', class: 'form-control' if params[:filter] == 'topic' %>
        <% if params[:filter] == 'date' %>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group date" id="initial-date-picker">
                <%= text_field_tag :initial_date, params[:initial_date], placeholder: 'Fecha inicial', class: 'form-control' %>
                <span class="input-group-addon">
                <%= fa_icon('calendar') %>
              </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group date" id="final-date-picker">
                <%= text_field_tag :final_date, params[:final_date], placeholder: 'Fecha final', class: 'form-control' %>
                <span class="input-group-addon">
                <%= fa_icon('calendar') %>
              </span>
              </div>
            </div>
          </div>
        <% end %>
        <%= select_tag :area_id, options_from_collection_for_select(Area.all, :id, :name, params[:area_id]), class: 'form-control' if params[:filter] == 'area_id' %>
        <%= text_field_tag :collaborator, params[:collaborator], placeholder: 'Filtrar por nombre de colaborador...', class: 'form-control' if params[:filter] == 'collaborator' %>
        <%= select_tag :company_id, options_from_collection_for_select(Company.all, :id, :name, params[:company_id]), class: 'form-control' if params[:filter] == 'company_id' %>
      </div>
      <div class="form-group" id="category_form_group" style="<%= 'display: none;' if params[:category].blank? || Training::CATEGORIES.include?(params[:category]) %>">
        <input class="form-control" type="text" value="<%= params[:category] %>" <%= 'name=category' unless params[:category].blank? || Training::CATEGORIES.include?(params[:category]) %> placeholder="¿Cuál?" id="category_other">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><%= check_box_tag :planned, true, params[:planned].present? %> Sólo formaciones planeadas</label>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <div class="form-group">
        <%= select_tag :filter, options_for_select(Training::FILTER_OPTIONS, params[:filter]), onchange: 'trainingsFilterChanged()', class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= submit_tag 'Filtrar', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<div class="table-responsive margin-bottom">
  <table class="table table-striped">
    <tbody>
    <% @training_executions.each do |training_execution| %>
      <tr>
        <td>
          <p><%= training_execution %> (<%= training_execution.category %>)</p>
          <p><%= training_execution.date.strftime('%d/%m/%y %R') %></p>
        </td>
        <td>
          <span class="pull-right">
            <%= link_to training_execution, class: 'btn btn-info' do %>
              <%= fa_icon('info') %>
            <% end %>
            <%= link_to edit_training_execution_path(training_execution), class: 'btn btn-warning' do %>
              <%= fa_icon('pencil') %>
            <% end %>
            <%= link_to training_execution, method: :delete, data: { confirm: '¿Seguro que desea eliminar la formación?' }, class: 'btn btn-danger' do %>
              <%= fa_icon('trash') %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    <% if @training_executions.empty? %>
      <tr>
        <td>
          No se encontraron registros
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to new_training_execution_path, class: 'btn btn-default' do %>
    <%= fa_icon('plus') %>
  <% end %>

  <%= link_to all_trainings_path, class: 'btn btn-default pull-right' do %>
    <%= fa_icon('eye') %> Todas las formaciones
  <% end %>
</div>

<%= will_paginate @training_executions %>
