<h1><%= @training_execution.topic %></h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h4>Categoría</h4>
    <p><%= @training_execution.category %></p>

    <% if @training_execution.objective.present? %>
      <h4>Objetivo</h4>
      <p><%= @training_execution.objective %></p>
    <% end %>

    <h4>Sede</h4>
    <p><%= @training_execution.company %></p>

    <% if @training_execution.area_id.present? %>
      <h4>Área responsable</h4>
      <p><%= @aide %></p>
    <% end %>

    <% if @training_execution.collaborator_id.present? %>
      <h4>Colaborador responsable</h4>
      <p><%= @aide %></p>
    <% end %>

    <h4>Fecha</h4>
    <p><%= @training_execution.date.strftime('%d/%m/%y %R') %></p>

    <h4>Intensidad horaria</h4>
    <p><%= @training_execution.hourly_intensity %></p>

    <h4>Formador</h4>
    <p><%= @training_execution.trainer %></p>

    <h4><%= @training_execution.internal ? 'Formación interna' : 'Formación externa' %></h4>

    <h4><%= @training_execution.planned ? 'Formación planeada' : 'Formación no planeada' %></h4>
  </div>
  <div class="col-xs-12 col-md-6">
    <h4>Asistentes</h4>
    <% @training_execution.employees.each do |employee| %>
      <ul>
        <li><%= employee %></li>
      </ul>
    <% end %>
    <%= link_to register_attendances_training_execution_path, class: 'btn btn-default' do %>
      Modificar asistencias
    <% end %>
  </div>
</div>

<div class="btn-group" role="group">
  <%= link_to training_executions_path, class: 'btn btn-default' do %>
    <%= fa_icon('arrow-left') %>
  <% end %>
  <%= link_to register_attendances_training_execution_path(@training_execution), class: 'btn btn-default' do %>
    Registrar asistencias
  <% end %>
</div>
<%= link_to edit_training_execution_path(@training_execution), class: 'btn btn-warning pull-right' do %>
  <%= fa_icon('pencil') %>
<% end %>
