<!DOCTYPE html>
<html>
  <head>
    <title>EmpTracker 2.0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Emp-Tracker</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Formaciones', trainings_path %></li>
            <li><%= link_to 'Empleados', employees_path %></li>
            <li><%= link_to 'Áreas', areas_path %></li>
            <li><%= link_to 'Compañias', companies_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-info" role="alert" style="display:none;">
          <p id="notice" style="display:inline;"><%= notice %></p>
          <span class="pull-right" onclick="esconderAlertas()"><%= fa_icon('times-circle') %></span>
        </div>
        <script>
          $(document).ready(function() {
              mostrarAlertas();
          })
        </script>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
